
.galleryheader{
    text-align: right;
    padding: 0 10% 0 10%;
    background-color: #363331;
}

.galleryborder{
    border-bottom: 2px solid rgb(255, 255, 255);
}

.gallerycontent{
    display: flex;
    padding:0 10% 5% 10%;
}

.gallerycontent img{
    width: 250px;
    height: 250px;
    overflow: hidden;
    object-fit: scale-down;
    margin: 0 2%;
}


.gallerysidebar{
    width: 25%;
    display: flex;
    justify-content: center;
    padding: 5% 1%;
}

.photolist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallerysidebar li{
    list-style: none;
    margin-block-start: 0m;
    margin-block-end: 30px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    color: #fff;
    text-align: left;
}

.gallerysidebar ul{
    justify-content: center;
    display: block;
    list-style-type: disc;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}