@import url('https://fonts.googleapis.com/css2?family=Space+Mono&family=Tiro+Devanagari+Marathi&display=swap');


.galleryheader{
    text-align: right;
    padding: 0 10% 0 10%;
    background-color: #363331;
}

.galleryborder{
    border-bottom: 2px solid rgb(255, 255, 255);
}

.gallerycontent{
    display: flex;
    padding:0 10% 0% 10%;
    margin-bottom: 5%;
    min-height: 1500px;
}

.gallerycontent img{
    width: 300px;
    height: 300px;
    object-fit: scale-down;
}


.gallerysidebar{
    width: 25%;
    display: flex;
    justify-content: center;
    padding: 5% 0% 5% 0%;
    font-family: 'Tiro Devanagari Marathi', serif;
    min-width: 150px;
    max-width: 150px;
}

.photolist{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: flex-start;
}


.photo {
    display: flex;
    box-shadow: 5px 5px 15px #22201e;
    margin: 1% 2%;
    justify-content:center; 
    align-items:center;
}

.photo:hover{
    box-shadow: none;
}

.gallerysidebar li{
    list-style: none;
    margin-block-start: 0m;
    margin-block-end: 30px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    color: #fff;
    text-align: left;
    min-height: 25px;
    min-width: 120px;
}

.gallerysidebar ul{
    justify-content: center;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    font-size: 21px;
}

.sidebarchoice button{
    background-color: #363331;
    border: none;
    padding: 0 5px 0 5px;
    position: relative;
    bottom: 1px;
}

.sidebarchoice{
    display: flex;
}

.sidebarchoice img{
    border: none;
    max-height: 20px;
    max-width: 20px;
    cursor: pointer;
}

.childlist{
    position: relative;
    left: 10px;
    margin-block-start: 15px;
    margin-block-end: 15px;
    font-size: 14px;
}

.childlist li{
    font-size: 14px;
    opacity: 75%;
    font-weight: 100;
    cursor: pointer;
}

.pagecontroler{
    display: flex;
    margin-top: 50px;
    justify-content: end;
    padding: 0 13% 1% 13%;
    font-size: 18px;
    color: #fff;
    font-family: 'Tiro Devanagari Marathi', serif;
}

.page{
    padding: 0 1% 0% 0%;
    opacity: 80%;
    cursor: pointer;
}

.pagecontroler img{
    position: relative;
    object-fit: scale-down;
    max-width: 12px;
    max-height: 12px;
}

.photoinfo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    color: #fff;
    background-color: #363331;
    min-width: 300px;
    min-height: 300px;
    opacity: 0%;
    flex-direction: column;
}

.photoinfo:hover {
    opacity: 75%;
}

.photoinfo a{
    margin-bottom: 25%;
}

.moreinfobutton{
    cursor: pointer;
}

.morephotoinfo{
    display: flex;
    position: fixed;
    min-width: 90%;
    min-height: 90%;
    max-height: 90%;
    z-index: 2;
    top: 5%;
    bottom: 5%;
    left: 5%;
    flex-wrap: wrap;
    flex-direction: row;
}


.morephotoinfo img{
    min-width: 66%;
    max-width: 66%;
    max-height: 95%;
    margin: 2%;
    object-fit: scale-down;

}

.infobackground{
    background-color: #22201e;
    position: fixed;
    min-width: 90%;
    min-height: 90%;
    z-index: 2;
    top: 5%;
    bottom: 5%;
    left: 5%;
    opacity: 95%;
}

.infotext{
    max-width: 30%;
    color: #fff;
    padding: 5% 0;
}

.infotext li{
    list-style-type:none;
    margin-top: 25px;
}

.closedinfo{
    display: flex;
    position: fixed;
    width: 40px;
    height: 40px;
    right: 1%;
    top: 2%;
    opacity: 85%;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.closedinfo:hover{
    background-color: #363331;
}

.closedinfo img{
    object-fit: fill;
}

.tilt-in-fwd-tr {
	-webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}